* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
input::-webkit-input-placeholder,
input::-moz-placeholder {
  color: #909090;
}
button,
button * {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #909090;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2.3fr;
  align-items: center;
  gap: 6vw;
  padding: 4vh 6vw;
  background-color: #163669;
  background-image: url(./assets/bg.png);
  background-size: contain;
}

.desc {
  background-size: 100%;
  background-position: 8px 0;
  background-repeat: no-repeat;
}

.content {
  display: grid;
  width: 100%;
  gap: 4vh;
  height: 80vh;
  grid-template-rows: 1fr 3fr;
}

.stream-box {
  background: url("./assets/logo.svg");
  background-color: #0f2953;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 45vw;
  margin: 0 auto;
  max-height: 52vh;
  overflow: hidden;
}

.frame {
  position: absolute;
  width: -webkit-fill-available;
  width: available;
  height: -webkit-fill-available;
  height: available;
}

/* 
#frame-top {
  top: 0;
}

#frame-bottom {
  bottom: 0;
} */

.video {
  width: 100%;
}
