.game-field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rulet {
  height: auto;
  max-width: 100%;
}

.chip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  transition: all 1s ease-out;
}

.chip-icon {
  width: 4vw;
  height: 4vw;
}

.chip-name {
  position: absolute;
  top: 37%;
  font-size: 1vw;
  width: max-content;
  color: #fce4bf;
  padding: 2px 3px;
  border-radius: 4px;
}
