.game-field {
  display: flex;
  height: 80vh;
  background: url('../../assets/rulet.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 384px;
  position: relative;
}

.chip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 1s ease-out;
}

.chip-icon {
  width: 4vw;
  height: 4vw;
}

.chip-name {
  position: absolute;
  top: 37%;
  font-size: 1.5vh;
  width: max-content;
  color: #fce4bf;
  padding: 2px 3px;
  border-radius: 4px;
}
